<h2>Register</h2>
<form (ngSubmit)="register()">
  <input
    type="text"
    placeholder="Name"
    [(ngModel)]="user.name"
    name="name"
    required
  />
  <input
    type="text"
    placeholder="Surname"
    [(ngModel)]="user.surname"
    name="surname"
    required
  />
  <input
    type="email"
    placeholder="Email"
    [(ngModel)]="user.email"
    name="email"
    required
  />
  <input
    type="text"
    placeholder="Organization"
    [(ngModel)]="user.organization"
    name="organization"
    required
  />

  <input
    type="password"
    placeholder="Password"
    [(ngModel)]="user.password"
    name="password"
    (input)="checkPasswordStrength()"
    required
  />

  <!-- Progress bar -->
  <div class="password-strength">
    <div
      class="strength-bar"
      [ngStyle]="{
        'width.%': (passwordStrength + 1) * 20,
        'background-color': getStrengthColor()
      }"
    ></div>
  </div>

  <div *ngIf="passwordFeedback">
    <p>Password strength: {{ passwordStrength }}/4</p>
    <p>{{ passwordFeedback }}</p>
  </div>

  <input
    type="password"
    placeholder="Confirm Password"
    [(ngModel)]="user.confirmPassword"
    name="confirmPassword"
    required
  />
  <div *ngIf="user.confirmPassword && user.password !== user.confirmPassword">
    <p style="color: red">Passwords do not match!</p>
  </div>

  <!-- Success / error messages -->
  <p *ngIf="successMessage" style="color: green">{{ successMessage }}</p>
  <p *ngIf="errorMessage" style="color: red">{{ errorMessage }}</p>

  <p>
    Već imate nalog?
    <a href="/login">Prijavite se ovde</a>
  </p>
  <button type="submit">Register</button>
</form>
