<h2>Register</h2>
<form (ngSubmit)="register()">
  <input
    type="text"
    placeholder="Name"
    [(ngModel)]="user.name"
    name="name"
    required
  />
  <input
    type="text"
    placeholder="Surname"
    [(ngModel)]="user.surname"
    name="surname"
    required
  />
  <input
    type="email"
    placeholder="Email"
    [(ngModel)]="user.email"
    name="email"
    required
  />
  <input
    type="text"
    placeholder="Organization"
    [(ngModel)]="user.organization"
    name="organization"
    required
  />
  <input
    type="password"
    placeholder="Password"
    [(ngModel)]="user.password"
    name="password"
    required
  />
  <input
    type="password"
    placeholder="Confirm Password"
    [(ngModel)]="user.confirmPassword"
    name="confirmPassword"
    required
  />
  <button type="submit">Register</button>
</form>

<p>{{ message }}</p>
