/* === GLAVNI SADRŽAJ === */
.main-content {
  text-align: center;
  margin-top: 100px; /* prostor ispod headera */
  color: #334155;

  h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }

  p {
    font-size: 1.1rem;
    color: #475569;
  }
}
