<div class="reset-container">
  <h2>Resetovanje lozinke</h2>

  <form (ngSubmit)="resetPassword()">
    <input
      type="password"
      placeholder="Nova lozinka"
      [(ngModel)]="password"
      name="password"
      required
    />
    <input
      type="password"
      placeholder="Potvrdi lozinku"
      [(ngModel)]="confirmPassword"
      name="confirmPassword"
      required
    />
    <button type="submit">Resetuj lozinku</button>
  </form>

  <p class="success" *ngIf="message">{{ message }}</p>
  <p class="error" *ngIf="error">{{ error }}</p>
</div>
